:root {
  --background: rgb(254, 251, 237);
  --primary: rgb(96, 84, 143);
}

html,
body {
  height: 100%;
  margin: 0;
  min-width: 320px;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}
